@import url('reset.css');

/* General styles */

html {
	background: url(../img/pizza1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/* Fallback color */
	background-color: #e1ded2;
	font-family: 'Oswald', sans-serif;
}

body {
	font-size: 16px;
}


h1 {
	font-size: 8em;
	font-weight: bold;
	display: inline;
	line-height: 225px;
}

h3 {
	font-size: 3em;
}

h4 {
	font-size: 2.5em;
}

section span {
	color: black;
}

a {
	text-decoration: none;
	color: black;
}

.center-text {
	text-align: center;
}
.drink-prices {
	color: black;
	display: inline;
}

.column a:hover {
	color: white;
}

.active {
	color: #0776A0;
	padding: 0 60px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	width: 100%;
	opacity: .7;
	font-size: .8em;
}

address {
	font-size: 1.5em;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	text-align: left;
	line-height: 130%;
}

.col-group {
	width: 100%;
}
nav {
	width: 100%;
	position: relative;
	opacity: .9;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	background:#142326;
}

ul li {
	list-style: none;
	font-size: 2em;
	display: inline-block;
	margin: 0 auto;
	padding: 0 50px;
}

iframe {
	width: 100%;
}
ul a {
	display: inline-block;
	color: white;
	padding: 10px;
}

#contact-info li,
#contact-info a {
	color: black;
	padding: 0px;
	display: block;
}

#contact-info {
	width: 100%;
	padding: 0;
	margin-bottom: 15px;
}

hr {
	border: 0;
    height: 2px;
    background: #333;
    margin-bottom: 15px;
}
footer p {
	color: white;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.pizza-pricing {
	text-align: center;
}
.add-pizza {
	margin-bottom: 5px;
	width: 30%;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	padding: 14px 26px;
	font-size: 1.1em;
	line-height: 100%;
	color: white;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	background-color: #3fb8e8;
	box-shadow: 0px 3px 0px 0px #3293ba;
}

.add-pizza:active {
	padding-top: 15px;
    margin-bottom: -1px;
}

.add-drink-button {
	font-size: 1.1em;
	font-family: sans-serif;
	cursor: pointer;
	background: none;
	border: 2px solid black;
}

.click-add-drink-button {
	background: green;
}
/* Main div styling */

#header-pic {
		background-image: url(../img/logo.png);
		background-repeat: no-repeat;
		background-size: contain;
		height: 85px;
		width: 100%;
		background-position: center;
/*		background-color: #142326;
*/}

.templates {
	display: none;
}

.main-content {
	width: 60%;
	max-width: 1280px; 
	margin: 0px auto 15px;
	max-width: 1006px;
/*	background: #e1ded2;
*/}

/* Positioning images */

#logo {
	vertical-align: middle;
}

.pull-left {
	float: left;
}

.bottom-pic {
	width: 100%;
	height: 345px;
	background-repeat: no-repeat; 
	background-size: cover;
}

/* specifically index.shtml only */

.home-main {
	width:100%;
}

.column {
	width: 33.333333333333333%;
	float: left;
	height: 155px;
	box-sizing: border-box;
}

.column h3 {
	color: white;
	padding-top: 3px;
}

.centered-h3 {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 2em;

}


.column h4 {
	padding-top: 10px;
	font-size: 1.5em;
	color: black;
}

/* specifically menu.shtml only */

#pizzas {
	box-sizing: border-box;
}

#pizzas h4 {
	-moz-column-span: all;
	-webkit-column-span: all;
	column-span: all;
}
.food span {
	font-size: 1.1em;
}

.menu-items {
	line-height: 170%;
}

.food {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

.food h4 {
	padding-bottom: 10px;
}

dl,
.food h5 {
	font-size: 1.1em;
	padding-left: 10px;
	line-height: 140%;
}

dt,
.pricing {
	color: black;
}

dd,
.food h5 {
	padding-left: 10px;
}

.pricing {
	display: block;
	padding-bottom: 20px;
	padding-left: 10px;
}


/* specifically about.shtml only */

.story-impact {
	text-align: justify;
	background: rgba(225, 222, 210, .5);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.story-impact h4 {
	padding: 10px 0px 10px 10px;
}

.story-impact h5 {
	font-size: 1.2em;
	padding-left: 35px;
	padding-right: 15px;
	line-height: 130%;
}

.pizza-sizes {
	padding: 12px 0px 12px 45px;
	text-align: left;
}

.bottom-left-radius {
	border-bottom-left-radius: 5px;
}

.bottom-right-radius {
	border-bottom-right-radius: 5px;
}

.story-impact h5:last-child {
	padding-bottom: 10px;
}

/* Specialized font sizes */

#small-pizza {
	font-size: 1em;
}

#med-pizza {
	font-size: 1.2em;
}

#big-pizza {
	font-size: 1.4em;
}

/* Colorful blocks and pieces of text */

#meatpies,
#left {
	background: #FFA42A;
}

#vegpies {
	background: #34D800;
}

#green {
	color: #006E00;
}
#drinks,
#middle {
	background: #0776A0;
}

#desserts {
	background: #FF8500;
	margin-bottom: 50px;
}

.purple {
	color: #39275B;
}

#right {
	background: #84E900;
}

#pizza {
	color: #FF0000;
}

nav a:hover,
#contact-info a:last-child:hover,
#best {
 	color: #FFEC1C;
 }

#pizzas {
			-moz-column-count:2; /* Firefox */
			-webkit-column-count:2; /* Safari and Chrome */
			column-count:2;
			-moz-column-gap:10px; /* Firefox */
			-webkit-column-gap:10px; /* Safari and Chrome */
			column-gap:10px;
			-moz-column-fill:balance;
			-webkit-column-fill: balance;
			column-fill:balance;
			-moz-column-break-inside: avoid;
			-webkit-column-break-inside: avoid;
			column-break-inside: avoid;
			-moz-column-rule: 1px solid black;
			-webkit-column-rule: 1px solid black;
			column-rule: 1px solid black;  
}

.pizza-styles {
			background: #FFA42A;
			width: 100%;
			clear: both;
}
/* Media queries */

@media screen and (max-width:768px) {
	.main-content {
		width:100%;
	}

	body {
		font-size: 18px;
	}

	.column {
		width: 100%;
	}

	nav ul li,
	nav ul li a,
	.active {
		display: block;
		padding: 2px;
	}

	#pizzas {
		-moz-column-count:1; /* Firefox */
			-webkit-column-count:1; /* Safari and Chrome */
			column-count:1;

	}

	.food h4 {
		font-size: 1.7em;
	}

	.main-content ul {
		font-size: .9em;
		margin-bottom: 10px;
	}

}


@media screen and (min-width: 769px) {
	.main-content {
		width: 100%;
	}

	address {
		font-size: 1.4em;
	}

		#header-pic {
		height: 170px;
	}	
}

@media screen and (max-width: 1000px) {
	.main-content {
		width: 100%;
	}

	.story-impact {
		border-top-left-radius: 0px;
		border-top-right-radius: 00px;
	}

}